
#rightSection {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    
    display: flex;
    align-items: center;
}
#rightSection h1 {
    margin: 0.5rem 1rem;
}

.rightSectionWrapper {
    position: relative;
    height: auto;
    min-width: 10rem;
    width: 100%;
    /* max-width: 20rem; */

    background-color: var(--black);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.tableWrapper {
    min-height: 200px;
    max-height: 350px;
    overflow: scroll;
    margin: 0.5rem 0rem 0.5rem 0rem;
}
.table {
    margin-bottom: 5rem;
}
.table td {
    text-align: right;
}

.table tr > :last-child {
    padding-right: 2rem;
}
/* The rest of the table styling can be found in styles.css */

.action {
    position: absolute;
    bottom: 0;
    border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius);
    background-color: var(--blue);
    /* padding: 0.5rem; */
    padding: 5%;
    width: 100%;
}
.action > h2 {
    padding: 0.5rem;
    padding-top: 0;
}


#toggleTableButton {
    position: absolute;
    top: 6px;
    right: 18px;
    background-color: var(--blue);
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    text-align: center;
    line-height: 90%;
    border: none;
    box-shadow: inset 0 0 0 1px var(--black);
    cursor: pointer;
}
#toggleTableButton:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

.hideRightSection {
    transform: translateX(20rem);
}